{% extends 'hotelreef/base.html' %}
{% block title %}Nueva Reserva{% endblock %}
{% block content %}
    <div style="text-align: center; padding: 40px 20px;">
        <h1>Nueva Reserva</h1>
        <form method="post">
            {% csrf_token %}

            <input type="hidden" name="usuario_id" value="{{ request.session.usuario_id }}">

            <label>Habitación:</label><br>
            <select name="habitacion_id" required>
                {% for h in habitaciones %}
                    <option value="{{ h.habitacion_id }}"
                        {% if h.habitacion_id|stringformat:"s" == habitacion_preseleccionada %}selected{% endif %}>
                        {{ h.hotel.nombre }} — {{ h.tipo }} — ${{ h.precio|floatformat:0 }} ({{ h.capacidad }} personas)
                    </option>
                {% endfor %}
            </select><br><br>

            <label>Fecha de entrada:</label><br>
            <input type="date" name="fecha_entrada" required><br><br>

            <label>Fecha de salida:</label><br>
            <input type="date" name="fecha_salida" required><br><br>

            <label>Cantidad de personas:</label><br>
            <input type="number" name="cantidad_personas" min="1" required><br><br>

            <button type="submit" class="btn-primario">Confirmar Reserva</button>
            <a href="{% url 'habitaciones' %}"><button type="button" class="btn-secundario">Cancelar</button></a>
        </form>
    </div>
{% endblock %}